{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "6",
        "browsers": ["> 0.25%", "ie 9", "last 2 versions"]
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-export-default-from"
  ],
  "comments": false
}
