{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "6"
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-export-default-from"
  ],
  "comments": false
}
