{
  "presets": [
    ["@babel/preset-env", {
      "modules": false
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-export-default-from"
  ],
  "comments": false,
  "env": {
    "node": {
      "presets": [
        ["@babel/preset-env", {
          "modules": "commonjs"
        }]
      ]
    }
  }
}
