+section('Getting started')
  +subsection('Installation')
    pre.language-bash
      code.
        npm install vue-validation --save
  +subsection('Basic usage')
    pre.language-javascript
      code.
        import Vue from 'vue'
        import Validation from 'vue-validation'
        Vue.use(Validation)
  +subsection('Package content')
    p.typo__p
      | Simple, lightweight model-based validation for Vue.js
