+section('Examples')
  +subsection('Basic form')
    p.typo__p
      | For each value you want to validate, you have to create a key inside <kbd>validations</kbd> options.
      | You can specify when input becomes dirty by using appropriate event on your input box.
    +example('ExampleBasic')

  +subsection('Contextified validators')
    p.typo__p
      | You can link related fields by contextified validators. An example of this being <kbd>sameAs</kbd> builtin validator.
    +example('ExampleRepeatPassword')

  +subsection('Data nesting')
    p.typo__p
      | You can nest validators to match your data as deep as you want.
      | Parent validator errors out when any of its children reports an error.
      | This might be very useful for overall form validation.
    +example('ExampleNested')

  +subsection('Validation Groups')
    p.typo__p
      | If you don't want to create a validator that groups many otherise unrelated
      | fields together, you can create a validation group.
    +example('ExampleValidationGroups')


  +subsection('Collections validation')
    p.typo__p
      | Array support with <kbd>$each</kbd> keyword
    +example('ExampleEachArray')
