section.utils--center
  h4.typo__h4
    | Created by
    strong
      a.typo__link(href='https://twitter.com/DamianDulisz', target='_BLANK')
        |  Damian Dulisz
      |  &amp;
      a.typo__link(href='https://twitter.com/frizi09', target='_BLANK')
        |  Paweł Grabarz
  h4.typo__h4
    | With love from
    strong
      a.typo__link.monterail-link(href='http://monterail.com', target='_BLANK')  Monterail
  a(href='http://monterail.com', target='_BLANK')
    img.monterail-logo(src=require('assets/monterail.svg'))
