section.utils--center
  h4.typo__h4
    | Created by
    strong
      a.typo__link(href='https://twitter.com/DamianDulisz', target='_BLANK')
        |  Damian Dulisz
      |  &amp;
      a.typo__link(href='https://twitter.com/frizi09', target='_BLANK')
        |  Paweł Grabarz
  h4.typo__h4
    | Deployed via
    strong
      a.typo__link.netlify-link(href='https://www.netlify.com', target='_BLANK')  Netlify
  a(href='https://www.netlify.com', target='_BLANK')
    img.netlify-logo(src='https://www.netlify.com/img/global/badges/netlify-color-bg.svg')
