section.start(v-bind:style="gradient")
  .center-vertically
    h1.typo__h1
      img.logo(src=require('assets/logo.svg'))
      | Vuelidate
      small
        a.version(href="https://github.com/monterail/vuelidate/releases")=`(${require('../../package.json').version})`
    h3.typo__h3
      | Simple, lightweight model-based validation for
      = ' '
      a.typo__link(href="http://vuejs.org" target="_BLANK") Vue.js 2.0

    .grid__row.grid__row--centered
      .grid__column.grid__unit--md-6
        .multiselect-example__container
          .grid__row.start__list
            .grid__column.grid__unit--md-6.list
              ul.list__ul
                li.typo__li Model based
                li.typo__li Decoupled from templates
                li.typo__li Dependency free, minimalistic library
                li.typo__li: a.typo__link(href="#sub-collections-validation") Support for collection validations
                li.typo__li: a.typo__link(href="#sub-data-nesting") Support for nested models
            .grid__column.grid__unit--md-6.list
              ul.list__ul
                li.typo__li: a.typo__link(href="#sub-contextified-validators") Contextified validators
                li.typo__li Easy to use with custom validators (e.g. Moment.js)
                li.typo__li Support for function composition
                li.typo__li Validates different data sources: Vuex getters, computed values, etc.
                li.typo__li High test coverage

    .grid__row.grid__row--centered
      .grid__column.utils--center
        a.button.button--large(href="#getting-started") Getting started & examples
        a.button.button--large.button--info(href="https://jsfiddle.net/Frizi/b5v4faqf/" target="_BLANK" rel="nofollow") JSFiddle
        a.button.button--large.button--secondary.button--github(href="https://github.com/monterail/vuelidate" target="_BLANK") View on GitHub
