+section('API')
  p.typo__p
    | There are two distinct structures present in <em>vuelidate</em>:
    ul
      li <kbd>validations</kbd> component option - the definition of your validation
      li <kbd>$v</kbd> structure - an object in your viewmodel that holds the validation state
  include ./_values
  include ./_methods
  include ./_keywords
