+subsection('$v methods')
  p.typo__p
    | A set of methods to control the validation model. Accessible on every level of nesting.
    | All methods are ment to be used on any event handler you wish. There is no extra syntax
    | to decide when the dirty flag should be set. Just use standard <kbd>@input</kbd> or <kbd>@blur</kbd> bindings.
  .table__container
    table.table.table--full-size.table--fixed
      thead
        tr.table__tr
          th.table__th(width="160") Name
          th.table__th Description
      tbody
        tr.table__tr
          td.table__td: kbd $touch
          td.table__td
            | Sets the <kbd>$dirty</kbd> flag of the model and all its children to <kbd>true</kbd> recursively.
        tr.table__tr
          td.table__td: kbd $reset
          td.table__td
            | Sets the <kbd>$dirty</kbd> flag of the model and all its children to <kbd>false</kbd> recursively.
        tr.table__tr
          td.table__td: kbd $flattenParams
          td.table__td
            | Returns an array of leaf params.
