h2.typo__h2#props Props
.grid__row
  .table__container
    table.table.table--full-size.table--fixed
      thead
        tr.table__tr
          th.table__th(width="100") Name
          th.table__th(width="80") Type
          th.table__th(width="180") Default
          th.table__th(width="200") Description
      tbody
        tr.table__tr
          td.table__td: strong Id
          td.table__td Integer||String
          td.table__td
          td.table__td.
            Used to identify the component in events.
