h2.typo__h2#slots Slots
.grid__row
  .table__container
    table.table.table--full-size.table--fixed
      thead
        tr.table__tr
          th.table__th(width="200") Name
          th.table__th Description
      tbody
        tr.table__tr
          td.table__td: strong MaxElements
          td.table__td
            | Shows when the maximum options have been selected.
