doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1')
    title Vuelidate | A Vue.js model validation library
    link(rel='icon', href=require('assets/vue-logo.png'), type='image/x-icon')
    meta(name='description', content='Simple, lightweight model-based validation for Vue.js')
    meta(property='og:title', content='Vuelidate | A Vue.js library.')
    meta(property='og:site_name', content='Vuelidate | A Vue.js library.')
    meta(property='og:url', content='http://monterail.github.io/vue-multiselect')
    meta(property='og:description', content='Simple, lightweight model-based validation for Vue.js')
    meta(property='og:image', content='http://monterail.github.io/vue-multiselect/static/vue-logo.png')
    meta(property='twitter:image', content='http://monterail.github.io/vue-multiselect/static/vue-logo.png')
    meta(property='twitter:title', content='Vuelidate | A Vue.js library.')
    meta(property='twitter:description', content='Simple, lightweight model-based validation for Vue.js')
  body
    #app
      include ./_mixins
      include ./partials/_start

      .grid__row.docs
        .grid__columns.grid__unit--sm-3.small--hidden
          include ./partials/_nav
        .grid__columns.grid__unit--sm-12.grid__unit--md-9
          include ./partials/_getting-started
          include ./partials/examples/_examples
          include ./partials/api/_api
          include ./partials/validators/_validators

      include ./partials/_footer
    script(src=require('url?limit=1!assets/prism.js'))
    script.
      Prism.languages.pug = Prism.languages.jade
+renderToc()
