doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1')
    title Vuelidate | A Vue.js model validation library
    link(rel='icon', href=require('assets/logo.svg'), type='image/x-icon')
    meta(name='description', content='Simple, lightweight model-based validation for Vue.js')
    meta(property='og:title', content='Vuelidate | A Vue.js library.')
    meta(property='og:site_name', content='Vuelidate | A Vue.js library.')
    meta(property='og:url', content='http://monterail.github.io/vuelidate')
    meta(property='og:description', content='Simple, lightweight model-based validation for Vue.js')
    meta(property='og:image', content='http://monterail.github.io/vuelidate/static/logo.svg')
    meta(property='twitter:image', content='http://monterail.github.io/vuelidate/static/logo.svg')
    meta(property='twitter:title', content='Vuelidate | A Vue.js library.')
    meta(property='twitter:description', content='Simple, lightweight model-based validation for Vue.js')
  body
    #app
      include ./_mixins
      include ./partials/_start

      .grid__row.docs
        .grid__columns.grid__unit--sm-3.small--hidden
          include ./partials/_nav
        .grid__columns.grid__unit--sm-12.grid__unit--md-9
          include ./partials/_getting-started
          include ./partials/examples/_examples
          include ./partials/api/_api
          include ./partials/validators/_validators

      include ./partials/_footer
    script(src=require('url?limit=1!assets/prism.js'))
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-78373326-3', 'auto');
      ga('send', 'pageview');
    script.
      Prism.languages.pug = Prism.languages.jade

      WebFontConfig = {
        google: { families: [ 'Lato:700,300', 'Dosis:400' ] }
      }
      ;(function() {
        var wf = document.createElement('script')
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js'
        wf.type = 'text/javascript'
        wf.async = 'true'
        var s = document.getElementsByTagName('script')[0]
        s.parentNode.insertBefore(wf, s)
      })()

+renderToc()
